run = "mcs -out:Main.exe './Aula_0630/Lista09Ex03.cs' ; mono Main.exe"
#run = "python3 ./Aula_0629/Lista09Ex01.py"
#run = "g++ -o main.exe ./Aula_0519/extipos.cpp ; ./main.exe"
#run = "javac -d ./ './Aula_0527/lista03ex02.java' ; java Program"
